

main {
  width: 100%;
  height: 100%;
  display: flex;
}

button {
  height: 30%;
  padding: 2vh;
  background: none;
  cursor: pointer;
  border-radius: 20%;
  border: 1px solid rgba(33, 68, 72, 0.59);
  animation: buttonInit 1.1s;
  transition: all .7s;

  &:hover {
    opacity: 0.8;
    padding: 2.5vh;
    border-radius: 50%;
    border: dotted;
    font-weight: 500;
  }
}

@mixin initNav {
  @for $i from 1 through 4 {
    &:nth-child(#{$i}) {
      //transition: all .2s #{$i * .1}s ease-in;
      animation: buttonInit .35s #{$i * .15}s ease-in forwards;
    }
  }
}

@keyframes buttonInit {
  from {
    transform: scale(.3, .3);
  }

  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}




nav {
  width: 100%;
  height: 15%;

}

ul {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

li {
  opacity: 0;
  @include initNav;
  cursor: pointer;
  text-align: center;
  margin: 15px 0 ;
  font-size: 1.5vmax;

  transition: all 0.3s;

  &:hover {
    font: 3vmax bolder;
    border-bottom: 2px dotted black;
    padding: 0 2px 2px;
  }
}
