main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  height: 30%;
  padding: 2vh;
  background: none;
  cursor: pointer;
  border-radius: 20%;
  border: 1px solid rgba(33, 68, 72, 0.59);
  animation: buttonInit 1.1s;
  transition: all .7s;

  &:hover {
    opacity: 0.8;
    padding: 2.5vh;
    border-radius: 50%;
    border: dotted;
    font-weight: 500;
  }
}


@keyframes buttonInit {
  from {
    opacity: 0
  }

  to {
    opacity: 1;
  }
}
