main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  height: 20vmin;
  width: 20vmin;
  padding: 3vmin;
  background: none;
  cursor: pointer;
  border-radius: 20%;
  font-size: 4vmin;
  border: 1px solid white;
  animation: buttonInit 1.1s;
  transition: all .7s;

  &:hover {
    opacity: 0.8;
    padding: 2.5vh;
    border-radius: 50%;
    border: dotted;
    font-weight: 500;
  }
}



@keyframes buttonInit {
  from {
    transform: scale(.3, .3);
  }

  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}




app-nav-main {
  width: 100%;
  height: 100%;

}
