.containerMain {
 // background: url(/src/background/bgMainImg.jpg) center center no-repeat;
 // background-size: cover;
 background: #0e0e0e; 
 width: 100vw;
  min-height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;

}
