.containerMain {
 // background: url(/src/background/bgMainImg.jpg) center center no-repeat;
 // background-size: cover;
 background-image: linear-gradient(217deg , #0e0e0e, #0f3110) ; 
 width: 100vw;
  min-height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;

}
