/* You can add global styles to this file, and also import other style files */
//reset
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2 {
    font-weight: 100;
}
h1{
    font-size: 7vmax;
}
h2{
    font-size: 4vmax;
}
button {

  &:active,
  &:focus {
    outline: none;
  }
}

ul {
  list-style: none;
}

$bodyHeight: 100vh;
$bodyWidth: 100vw;

app-root {
  height: $bodyHeight;
  width: $bodyWidth;
  display: flex;
  flex-direction: column;
}


$headerHight: 70vh;
$headerWidth: 100vw;

app-header {
  height: $headerHight;
  width: $headerWidth;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

$mainHeight: 30vh;
$mainWidth: 100%;

app-main {
  height: $mainHeight;
  width: $mainWidth;
}


//animations
