li {
    width: 50px;
}
ul{
    display: flex;
    //flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-items: space-evenly;
    justify-content: space-evenly;
}
section{
    height: 60vh;
}

.rootContext {
  display: flex;
}


@media (orientation:portrait) {
  .rootContext {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 2px white solid;

  }
}
