<div class="rootContext">
  <section>
    <h3>Frontend</h3>
    <ul>
      <li><img src="/src/techs images/html5.svg" alt="html5"></li>
      <li><img src="/src/techs images/css3.png"alt="css3" ></li>
      <li><img src="/src/techs images/js.svg" alt="js"></li>
      <li><img src="/src/techs images/sass.svg" alt="sass"></li>
      <li><img src="/src/techs images/ts.png" alt="ts"></li>
      <li><img src="/src/techs images/angular.png" alt="angular"></li>
    </ul>
  </section>
  <section>
    <h3>Backend</h3>
    <ul>
      <li><img src="/src/techs images/java.png" alt="java"></li>
    </ul>
  </section>
  <section>
    <h3>Inne</h3>
    <ul>
      <li><img src="/src/techs images/git.png" alt="git"></li>
    </ul>
  </section>
</div>
