<div class="rootContext">
  <section>
    <h3>Frontend</h3>
    <ul>
      <li>
        <figure>
          <img src="/src/techs images/html5.svg" alt="html5">
          <figcaption>HTML5</figcaption>
        </figure>
      </li>

      <li>
        <figure>
          <img src="/src/techs images/css3.png" alt="css3">
          <figcaption>CSS3</figcaption>
        </figure>
      </li>

      <li>
        <figure>
          <img src="/src/techs images/js.svg" alt="js">
          <figcaption>JavaScript</figcaption>
        </figure>
      </li>

      <li>
        <figure>
          <img src="/src/techs images/sass.svg" alt="sass">
          <figcaption>Sass</figcaption>
        </figure>
      </li>
      <li>
        <figure>
          <img src="/src/techs images/ts.png" alt="ts">
          <figcaption>TypeScript</figcaption>
        </figure>
      </li>
      <li>
        <figure>
          <img src="/src/techs images/angular.png" alt="angular">

          <figcaption>Angular</figcaption>
        </figure>
      </li>
    </ul>
  </section>
  <section>
    <h3>Backend</h3>
    <ul>
      <li>
        <figure><img src="/src/techs images/java.png" alt="java">
      <figcaption>Java</figcaption>
        </figure>
    </li>
    </ul>
  </section>
  <section>
    <h3>Inne</h3>
    <ul>
      <li>
        <figure><img src="/src/techs images/git.png" alt="git">
        <figcaption>Git</figcaption>
        </figure>
        </li>
    </ul>
  </section>
</div>
